<% content_for :previous_url do %>
  <%= previous_program_navigation_path({:question_id => @question.id}) %>
<% end %>
<% content_for :next_url do %>
  <%= next_program_navigation_path({:question_id => @question.id}) %>
<% end %>

<div class="current-step question">
  <div class="heading">
    <h1><%= @question.headline %></h1>
  </div>

  <div class="question" data-id="<%= @question.id%>">
    <p class="prompt"><%= @question.prompt %></p>
    <p><%= @question.description %></p>
    <div class="option-group">
      <%= render partial: "#{@question.prompt_type}_options", locals: {:question => @question} %>
    </div>
  </div>
</div>
