<div class="current-question-wrapper clearfix">
  <div class="left-nav">
    <
  </div>

  <div class="question">
    <div class="section">
      <%= @section.name.upcase %>
    </div>

    <div class="question-body">
      <p class="prompt"><%= @question.prompt %></p>
      <ul class="options">
        <% @question.response_options.each do |option| %>
          <li class="response-option">
            <%= label_tag do %>
              <%= check_box_tag "response-options[]", option.id %>
              <%= option.description %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="progress">
      <div class="bar"></div>
    </div>
  </div>

  <div class="right-nav">
    >
  </div>
</div>
