 <h1>Career Suggestions For <%= current_user.name %></h1>

<div class="user-career-suggestions">
 <div class="heading">
   <div class="career-result">
       <ul>
          <% career_count = 1 %>
          <% @careers.first(25).each do |user_career|  %>
           <% career = Career.find(user_career.career_id)   %>
           <li>
             <%= career_count %>
             <%= career.onet_code %>
             <%= career.title %>
             <%= user_career.weight %>
             <% career_count += 1 %>
           </li>
          <% end %>
     </ul>
 </div>
 </div>
</div>