 <h1>Career Suggestions For <%= current_user.name %></h1>

<div class="user-career-suggestions">
 <div class="heading">
   <div class="career-result">
          <% career_count = 1 %>
          <% @careers.first(25).each do |user_career|  %>
          <div class="row">
             <% career = Career.find(user_career.career_id)   %>
             <div class="span2">
               <%= career_count %>
             </div>
             <div class="span2">
               <%= career.onet_code %> 
             </div>
             <div class="span6">
               <%= career.title %>
             </div>
             <div class="span2">
               <%= user_career.weight %>
             </div>
             <% career_count += 1 %>
           </div>
          <% end %>
 </div>
 </div>
</div>