<div class="login-wrapper">
  <div class="login">
    <% if flash[:error] %>
      <div class="errors">
        <%= flash[:error] %>
      </div>
    <% end %>

    <header class="login-header">
      <%= image_tag "cheetah-logo-large.png" %>
    </div>

    <div class="login-form">
      <p>Welcome to Career Cheetah. Please login:</p>
      <%= form_tag sessions_path do %>
        <%= text_field_tag :email, "", :placeholder => "email" %>
        <%= text_field_tag :password, "", :type => "password", :placeholder => "password" %>

        <%= submit_tag "Login" %>

      <% end %>
    </div>
  </div>
</div>
