<div class="current-step question response-selection-step">
  <% @percent_complete = 99 %>

  <div class="heading">
      <h1><%= @section_step.headline %></h1>
  </div>
  <div class = "question"
    <p class="prompt"><%= @section_step.description %></p>
  </div>
  <div class="borderWrap" style="overflow: scroll;">
    <ul class="options multi-checkbox-options"> 

     <!-- show negative mood selections -->
      <% if @section_step.section.slug == "moods" %>
        <% option_selections = negative_moods_selected %>
      <% elsif @section_step.section.slug == "values" %>
         <% option_selections = values_selected %>
      <% elsif @section_step.section.slug == "obstacles" %>
         <% option_selections = obstacles_selected %>
      <% end %>

      <% option_selections.each do |option_selection| %>
        <li class="option">
          <%= label_tag do %>
            <%= check_box_tag "response-option-selections[]", option_selection.id, option_selection.selected %>
            <%= option_selection.response_option.description %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
