<% content_for :previous_url do %>
  <% if @previous_selection %>
    <%= program_phase_section_cheetah_factor_ranking_path(@program, @section.phase, @section, @previous_selection, repeat: params[:repeat], custom_factors: params[:custom_factors]) %>
  <% else %>
    <%= program_phase_section_path(@section, @section.phase, @section) %>
  <% end %>
<% end %>
<% content_for :next_url do %>
  <% if @next_selection %>
    <%= program_phase_section_cheetah_factor_ranking_path(@program, @section.phase, @section, @next_selection, repeat: params[:repeat], custom_factors: params[:custom_factors]) %>
  <% else %>
    <%= program_phase_section_section_step_path(@section, @section.phase, @section, @section.section_steps.find_by(:type => "ConclusionStep")) %>
  <% end %>
<% end %>

<div class="current-step question">
  <div class="question">
    <p class="prompt"><%= @cheetah_factor.rating_prompt %></p>
    <div class="option-group">
      <ul class="rating-options">
        <% rating_options.each do |option| %>
          <li class="option rating-option">
            <%= label_tag nil, :class => "response-option" do %>
              <span class="value-description"><%= option[:value_description]%></span><br />
              <% current_value = params[:repeat] == "true" ? @cheetah_factor_ranking.final_rating : @cheetah_factor_ranking.original_rating %>
              <%= radio_button_tag "cheetah-factor-rankings[]",
                                   option[:value],
                                   current_value == option[:value],
                                   {"data-cheetah-factor-id" => "#{@cheetah_factor.id}",
                                    "data-repeat" => params[:repeat]} %><br />
              <%= option[:description] %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
