<!DOCTYPE html>
<html>
<head>
  <title>CareerCheetah</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body <%=@program.slug%>">
  <div class="nav">
    <%= link_to "logout", logout_path, :method => :delete if current_user %>
  </div>
  <header class="main-header">
    <%= image_tag "cheetah-logo.png" %>
  </div>

  <%= yield %>

</body>
</html>
