<!DOCTYPE html>
<html>
<head>
  <title>CareerCheetah</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <div class="header">
      <%= image_tag "cheetah-logo.png" %>
      <p>CAREER CHEETAH&trade;</p>
    </div>

    <div class="current-step-wrapper clearfix">
      <div class="left-nav">
        <%= link_to "<", content_for(:previous_url) %>
      </div>

      <%= yield %>

      <div class="right-nav">
        <%= link_to ">", content_for(:next_url) %>
      </div>
    </div>
  </div>

</body>
</html>
