<!DOCTYPE html>
<html>
<head>
  <title>CareerCheetah</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
  <div class="nav">
    <%= link_to "logout", logout_path, :method => :delete if current_user %>
  </div>

  <header class="main-header">
    <%= image_tag "cheetah-logo.png" %>
  </header>

  <div class="current-step-wrapper">
    <div class="nav-left">
      <div class="nav-left-active">
        <%= link_to(image_tag("left-nav-btn-active.png"), content_for(:previous_url)) %>
      </div>
    </div>

    <%= yield %>

    <div class="nav-right">
      <div class="nav-right-active">
      <%= link_to(image_tag("right-nav-btn-active.png"), content_for(:next_url)) %>
    </div>
  </div>
  <% if @percent_complete && @percent_complete > 0 %>
  <footer class="progress">
    <div class="bar" style="width: <%=@percent_complete%>%;"></div>
  </footer>
  <% end %>
</body>
</html>
